/* Search result styling */
.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.resultItem:hover {
  background-color: #f5f5f5;
}

/* Circle design for checkboxes and radio buttons */
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Circular design */
  border: 2px solid #c1c1c1;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  vertical-align: middle; /* Aligns with the text */
}

/* Checked state with background color */
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #56d2d8; /* Tertiary color */
  border-color: #56d2d8;
}

/* Inner circle for checked state */
input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

/* Hover effect */
input[type="checkbox"]:hover,
input[type="radio"]:hover {
  border-color: #56d2d8; /* Tertiary color */
  background-color: #56d2d8; /* Tertiary color */
}

/* Focus effect */
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(85, 210, 216, 0.5); /* Tertiary color glow */
}

/* Disabled state */
input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Label text styling */
label {
  display: flex;
  align-items: center; /* Centers the items vertically */
  font-size: 16px;
  color: #253237; /* Primary color */
  cursor: pointer; /* Ensures the label is clickable */
}

/* Add space between the label and the input */
label input[type="checkbox"],
label input[type="radio"] {
  margin-right: 10px; /* Space between the input and label */
}

/* Additional tweak for label when input is centered */
label {
  line-height: 20px; /* Ensures the label text is vertically aligned with the input */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #9db4c0;
}

::-webkit-scrollbar-thumb {
  background-color: #253237;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5c6b73;
}
